<div ng-include="'../components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
	<div class="container">
		<h1>Billing Maintenance Debit Create</h1>
	</div>
</header>
<div class="container">
	<form ng-init="formData.type='debit'">

		<div class="form-group">
			<label>created</label>
			<input input type="text" id="created" class="form-control" placeholder="Enter created Here" ng-model="formData.created">
		</div>

		<div class="form-group">
			<label>user</label>
			<input input type="text" id="user" class="form-control" placeholder="Enter user Here" ng-model="formData.user">
		</div>

		<div>
			<label>vessel_number</label>
			<div>
				<select class="form-control" ng-model="formData.vessel_number" ng-options="vessel.number as vessel.number for vessel in vessels"></select>
			</div>
		</div>

		<div>
			<label>customer_name</label>
			<div>
				<select class="form-control" ng-model="formData.customer_name" ng-options="customer.name as customer.name for customer in customers"></select>
			</div>
		</div>

		<div class="form-group">
			<label>arvd</label>
			<input input type="text" id="arvd" class="form-control" placeholder="Enter arvd Here" ng-model="formData.arvd">
		</div>

		<div class="form-group">
			<label>cost</label>
			<input input type="text" id="cost" class="form-control" placeholder="Enter cost Here" ng-model="formData.cost">
		</div>

		<div class="form-group">
			<label>crnotenumber</label>
			<input input type="text" id="crnotenumber" class="form-control" placeholder="Enter crnotenumber Here" ng-model="formData.crnotenumber">
		</div>

		<div class="form-group">
			<label>drnotenumber</label>
			<input input type="text" id="drnotenumber" class="form-control" placeholder="Enter drnotenumber Here" ng-model="formData.drnotenumber">
		</div>

		<div class="form-group">
			<label>vendor_name</label>
			<input input type="text" id="vendor_name" class="form-control" placeholder="Enter vendor_name Here" ng-model="formData.vendor_name">
		</div>

		<div>
			<label>expense_accode</label>
			<div>
				<select class="form-control" ng-model="formData.accode" ng-options="expense.accode as expense.accode for expense in expenses"></select>
			</div>
		</div>

		<div class="form-group">
			<label>expense_desc</label>
			<input input type="text" id="expense_desc" class="form-control" placeholder="Enter expense_desc Here" ng-model="formData.expense_desc">
		</div>

		<div class="form-group">
			<label>hide</label>
			<input input type="text" id="hide" class="form-control" placeholder="Enter hide Here" ng-model="formData.hide">
		</div>

		<div class="form-group">
			<label>approval</label>
			<input input type="text" id="approval" class="form-control" placeholder="Enter approval Here" ng-model="formData.approval">
		</div>
  
		<button type="submit" class="btn btn-primary" ng-click="submit()">Add</button>
	</form>
</div>
<footer class="footer">
  <div class="container">
      <p><a href="http://innobyt.com">Innobyt Hellenic Web Application</a></p>
  </div>
</footer>