<div ng-include="'../components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
	<div class="container">
		<h1>Normal Billing Maintenance Update</h1>
	</div>
</header>
<div class="container">
	<form>
		<div class="form-group">
			<label>created</label>
			<input type="text" id="created" class="form-control" placeholder="created" ng-model="formData.created">
		</div>
		<div class="form-group">
			<label>user</label>
			<input type="text" id="user" class="form-control" placeholder="user" ng-model="formData.user">
		</div>
		<div class="form-group">
		    <label> debit </label>
		    <input type="radio" id="cd_type" name="cd_type" value="debit" ng-model="formData.cd_type" />
		    <label> credit </label>
		    <input type="radio" id="cd_type" name="cd_type" value="credit" ng-model="formData.cd_type" />
		</div>
		<div class="form-group">
			<label>arvd</label>
			<input type="text" id="arvd" class="form-control" placeholder="arvd" ng-model="formData.arvd">
		</div>
		<div class="form-group">
			<label>tdate</label>
			<input type="text" id="tdate" class="form-control" placeholder="tdate" ng-model="formData.tdate">
		</div>
		<div>
			<label>expense_accode</label>
			<div>
				<select class="form-control" ng-model="formData.expense_accode" ng-options="expense.accode as expense.accode for expense in expenses"></select>
			</div>
		</div>
		<div class="form-group">
			<label>desc</label>
			<input type="text" id="desc" class="form-control" placeholder="desc" ng-model="formData.desc">
		</div>
		<div class="form-group">
			<label>billing</label>
			<input type="text" id="billing" class="form-control" placeholder="billing" ng-model="formData.billing">
		</div>
		<div class="form-group">
		    <label> gst yes</label>
		    <input type="radio" id="gst" name="gst" value="yes" ng-model="formData.gst" />
		    <label> gst no </label>
		    <input type="radio" id="gst" name="gst" value="no" ng-model="formData.gst" />
		</div>
		<div class="form-group">
			<label>gstpercentage</label>
			<input type="text" id="gstpercentage" class="form-control" placeholder="gstpercentage" ng-model="formData.gstpercentage">
		</div>
		<div class="form-group">
			<label>remarks</label>
			<input type="text" id="remarks" class="form-control" placeholder="remarks" ng-model="formData.remarks">
		</div>
		<div>
			<label>vessel_name</label>
			<div>
				<select class="form-control" ng-model="formData.vessel_name" ng-options="vessel.name as vessel.name for vessel in vessels"></select>
			</div>
		</div>
		<div>
			<label>vessel_number</label>
			<div>
				<select class="form-control" ng-model="formData.vessel_number" ng-options="vessel.number as vessel.number for vessel in vessels"></select>
			</div>
		</div>
		<div>
			<label>customer_number</label>
			<div>
				<select class="form-control" ng-model="formData.customer_number" ng-options="customer.number as customer.number for customer in customers"></select>
			</div>
		</div>
		<div>
			<label>customer_name</label>
			<div>
				<select class="form-control" ng-model="formData.customer_name" ng-options="customer.name as customer.name for customer in customers"></select>
			</div>
		</div>
		<div class="form-group">
			<label>dr_cr_note_number</label>
			<input type="text" id="dr_cr_note_number" class="form-control" placeholder="dr_cr_note_number" ng-model="formData.dr_cr_note_number">
		</div>
		<div class="form-group">
			<label>hide</label>
			<input type="text" id="hide" class="form-control" placeholder="hide" ng-model="formData.hide">
		</div>
		<button type="submit" class="btn btn-primary" ng-click="submit()">Add</button>
	</form>
</div>
<footer class="footer">
  <div class="container">
      <p><a href="http://innobyt.com">Innobyt Hellenic Web Application</a></p>
  </div>
</footer>