<div ng-include="'../components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
	<div class="container">
		<h1>Disbursement Maintenance Update</h1>
	</div>
</header>
<div class="container">
	<form>
		<div class="form-group">
			<label>created</label>
			<input type="text" id="created" class="form-control" placeholder="created" ng-model="formData.created">
		</div>
		<div class="form-group">
			<label>user</label>
			<input type="text" id="created" class="form-control" placeholder="user" ng-model="formData.user">
		</div>
		<div class="form-group">
			<label>arvd</label>
			<input type="text" id="created" class="form-control" placeholder="arvd" ng-model="formData.arvd">
		</div>
		<div class="form-group">
			<label>t_date</label>
			<input type="text" id="created" class="form-control" placeholder="t_date" ng-model="formData.t_date">
		</div>
		<div class="form-group">
		    <label> debit </label>
		    <input type="radio" id="cd_type" name="cd_type" value="debit" ng-model="formData.cd_type" />
		    <label> credit </label>
		    <input type="radio" id="cd_type" name="cd_type" value="credit" ng-model="formData.cd_type" />
		</div>
		<div class="form-group">
			<label>invoice_no</label>
			<input type="text" id="created" class="form-control" placeholder="invoice_no" ng-model="formData.invoice_no">
		</div>
		<div class="form-group">
			<label>vendor_acno</label>
			<input type="text" id="created" class="form-control" placeholder="vendor_acno" ng-model="formData.vendor_acno">
		</div>
		<div class="form-group">
			<label>invoice_date</label>
			<input type="text" id="created" class="form-control" placeholder="invoice_date" ng-model="formData.invoice_date">
		</div>
		<div class="form-group">
			<label>expense_accode</label>
			<input type="text" id="created" class="form-control" placeholder="expense_accode" ng-model="formData.expense_accode">
		</div>
		<div class="form-group">
			<label>desc</label>
			<input type="text" id="created" class="form-control" placeholder="desc" ng-model="formData.desc">
		</div>
		<div class="form-group">
			<label>cost</label>
			<input type="text" id="created" class="form-control" placeholder="cost" ng-model="formData.cost">
		</div>
		<div class="form-group">
			<label>billing</label>
			<input type="text" id="created" class="form-control" placeholder="billing" ng-model="formData.billing">
		</div>
		<div class="form-group">
		    <label> gst yes</label>
		    <input type="radio" id="gst" name="gst" value="yes" ng-model="formData.gst" />
		    <label> gst no </label>
		    <input type="radio" id="gst" name="gst" value="no" ng-model="formData.gst" />
		</div>
		<div class="form-group">
			<label>gst_percentage</label>
			<input type="text" id="created" class="form-control" placeholder="gst_percentage" ng-model="formData.gst_percentage">
		</div>
		<div class="form-group">
			<label>remarks</label>
			<input type="text" id="created" class="form-control" placeholder="remarks" ng-model="formData.remarks">
		</div>
		<div class="form-group">
			<label>vessel_name</label>
			<input type="text" id="created" class="form-control" placeholder="vessel_name" ng-model="formData.vessel_name">
		</div>
		<div class="form-group">
			<label>vessel_number</label>
			<input type="text" id="created" class="form-control" placeholder="vessel_number" ng-model="formData.vessel_number">
		</div>
		<div class="form-group">
			<label>customer_number</label>
			<input type="text" id="created" class="form-control" placeholder="customer_number" ng-model="formData.customer_number">
		</div>
		<div class="form-group">
			<label>customer_name</label>
			<input type="text" id="created" class="form-control" placeholder="customer_name" ng-model="formData.customer_name">
		</div>
		<div class="form-group">
			<label>drcr_number</label>
			<input type="text" id="created" class="form-control" placeholder="drcr_number" ng-model="formData.drcr_number">
		</div>
		<div class="form-group">
			<label>hide</label>
			<input type="text" id="created" class="form-control" placeholder="hide" ng-model="formData.hide">
		</div>
		<div class="form-group">
			<label>generated</label>
			<input type="text" id="created" class="form-control" placeholder="generated" ng-model="formData.generated">
		</div>
		<div class="form-group">
			<label>status</label>
			<input type="text" id="created" class="form-control" placeholder="status" ng-model="formData.status">
		</div>
		<button type="submit" class="btn btn-primary" ng-click="submit()">Add</button>
	</form>
</div>
<footer class="footer">
  <div class="container">
      <p><a href="http://innobyt.com">Innobyt Hellenic Web Application</a></p>
  </div>
</footer>