<div ng-include="'../components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
	<div class="container">
		<h1>Disbursement Maintenance</h1>
	</div>
</header>
<div class="container">
	<a class="btn btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv">Export to CSV</a>
	<button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
	<button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>
	<table ng-table="tableParams" show-filter="true" class="table" export-csv="csv">
		<tr ng-repeat="disbursementmaintenance in $data">
			<td data-title="'created'" sortable="'created'" filter="{ 'created': 'text' }">
				{{disbursementmaintenance.created}}
			</td>
			<td data-title="'user'" sortable="'user'" filter="{ 'user': 'text' }">
				{{disbursementmaintenance.user}}
			</td>
			<td data-title="'arvd'" sortable="'arvd'" filter="{ 'arvd': 'text' }">
				{{disbursementmaintenance.arvd}}
			</td>
			<td data-title="'t_date'" sortable="'t_date'" filter="{ 't_date': 'text' }">
				{{disbursementmaintenance.t_date}}
			</td>
			<td data-title="'cd_type'" sortable="'cd_type'" filter="{ 'cd_type': 'text' }">
				{{disbursementmaintenance.cd_type}}
			</td>
			<td data-title="'invoice_no'" sortable="'invoice_no'" filter="{ 'invoice_no': 'text' }">
				{{disbursementmaintenance.invoice_no}}
			</td>
			<td data-title="'vendor_acno'" sortable="'vendor_acno'" filter="{ 'vendor_acno': 'text' }">
				{{disbursementmaintenance.vendor_acno}}
			</td>
			<td data-title="'invoice_date'" sortable="'invoice_date'" filter="{ 'invoice_date': 'text' }">
				{{disbursementmaintenance.invoice_date}}
			</td>
			<td data-title="'expense_accode'" sortable="'expense_accode'" filter="{ 'expense_accode': 'text' }">
				{{disbursementmaintenance.expense_accode}}
			</td>
			<td data-title="'desc'" sortable="'desc'" filter="{ 'desc': 'text' }">
				{{disbursementmaintenance.desc}}
			</td>
			<td data-title="'cost'" sortable="'cost'" filter="{ 'cost': 'text' }">
				{{disbursementmaintenance.cost}}
			</td>
			<td data-title="'billing'" sortable="'billing'" filter="{ 'billing': 'text' }">
				{{disbursementmaintenance.billing}}
			</td>
			<td data-title="'gst'" sortable="'gst'" filter="{ 'gst': 'text' }">
				{{disbursementmaintenance.gst}}
			</td>
			<td data-title="'gst_percentage'" sortable="'gst_percentage'" filter="{ 'gst_percentage': 'text' }">
				{{disbursementmaintenance.gst_percentage}}
			</td>
			<td data-title="'remarks'" sortable="'remarks'" filter="{ 'remarks': 'text' }">
				{{disbursementmaintenance.remarks}}
			</td>
			<td data-title="'vessel_name'" sortable="'vessel_name'" filter="{ 'vessel_name': 'text' }">
				{{disbursementmaintenance.vessel_name}}
			</td>
			<td data-title="'vessel_number'" sortable="'vessel_number'" filter="{ 'vessel_number': 'text' }">
				{{disbursementmaintenance.vessel_number}}
			</td>
			<td data-title="'customer_number'" sortable="'customer_number'" filter="{ 'customer_number': 'text' }">
				{{disbursementmaintenance.customer_number}}
			</td>
			<td data-title="'customer_name'" sortable="'customer_name'" filter="{ 'customer_name': 'text' }">
				{{disbursementmaintenance.customer_name}}
			</td>
			<td data-title="'drcr_number'" sortable="'drcr_number'" filter="{ 'drcr_number': 'text' }">
				{{disbursementmaintenance.drcr_number}}
			</td>
			<td data-title="'hide'" sortable="'hide'" filter="{ 'hide': 'text' }">
				{{disbursementmaintenance.hide}}
			</td>
			<td data-title="'generated'" sortable="
			'generated'" filter="{ 'generated': 'text' }">
				{{disbursementmaintenance.generated}}
			</td>
			<td data-title="'status'" sortable="
			'status'" filter="{ 'status': 'text' }">
				{{disbursementmaintenance.status}}
			</td>
			<td data-title="'View'">
				<a class="btn btn-primary" href="/disbursement_maintenance/query/{{disbursementmaintenance._id}}">View</a>
			</td>
			<td data-title="'Update'">
				<a class="btn btn-primary" href="/disbursement_maintenance/update/{{disbursementmaintenance._id}}">Update</a>
			</td> 
		</tr>
	</table>
</div>
<footer class="footer">
  <div class="container">
      <p><a href="http://innobyt.com">Innobyt Hellenic Web Application</a></p>
  </div>
</footer>