<div ng-include="'../components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
	<div class="container">
		<h1>Billing Maintenance Debit</h1>
	</div>
</header>
<div class="container">
	<a class="btn btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv">Export to CSV</a>
	<button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
	<button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>
	<table ng-table="tableParams" show-filter="true" class="table" export-csv="csv">
		<tr ng-repeat="billingmaintenancedebit in $data">
			<td data-title="'created'" sortable="'created'" filter="{ 'created': 'text' }">
				{{billingmaintenancedebit.created}}
			</td>
			<td data-title="'user'" sortable="'user'" filter="{ 'user': 'text' }">
				{{billingmaintenancedebit.user}}
			</td>
			<td data-title="'vessel_number'" sortable="'vessel_number'" filter="{ 'vessel_number': 'text' }">
				{{billingmaintenancedebit.vessel_number}}
			</td>
			<td data-title="'customer_name'" sortable="'customer_name'" filter="{ 'customer_name': 'text' }">
				{{billingmaintenancedebit.customer_name}}
			</td>
			<td data-title="'type'" sortable="'type'" filter="{ 'type': 'text' }">
				{{billingmaintenancedebit.type}}
			</td>
			<td data-title="'arvd'" sortable="'arvd'" filter="{ 'arvd': 'text' }">
				{{billingmaintenancedebit.arvd}}
			</td>
			<td data-title="'type'" sortable="'type'" filter="{ 'type': 'text' }">
				{{billingmaintenancedebit.type}}
			</td>
			<td data-title="'cost'" sortable="'cost'" filter="{ 'cost': 'text' }">
				{{billingmaintenancedebit.cost}}
			</td>
			<td data-title="'crnotenumber'" sortable="'crnotenumber'" filter="{ 'crnotenumber': 'text' }">
				{{billingmaintenancedebit.crnotenumber}}
			</td>
			<td data-title="'drnotenumber'" sortable="'drnotenumber'" filter="{ 'drnotenumber': 'text' }">
				{{billingmaintenancedebit.drnotenumber}}
			</td>
			<td data-title="'vendor_name'" sortable="'vendor_name'" filter="{ 'vendor_name': 'text' }">
				{{billingmaintenancedebit.vendor_name}}
			</td>
			<td data-title="'accode'" sortable="'accode'" filter="{ 'accode': 'text' }">
				{{billingmaintenancedebit.accode}}
			</td>
			<td data-title="'expense_desc'" sortable="'expense_desc'" filter="{ 'expense_desc': 'text' }">
				{{billingmaintenancedebit.expense_desc}}
			</td>
			<td data-title="'hide'" sortable="'hide'" filter="{ 'hide': 'text' }">
				{{billingmaintenancedebit.hide}}
			</td>
			<td data-title="'approval'" sortable="'approval'" filter="{ 'approval': 'text' }">
				{{billingmaintenancedebit.approval}}
			</td>
			<td data-title="'View'">
				<a class="btn btn-primary" href="/billingmaintenancedebit/query/{{billingmaintenancedebit._id}}">View</a>
			</td>
			<td data-title="'Update'">
				<a class="btn btn-primary" href="/billingmaintenancedebit/update/{{billingmaintenancedebit._id}}">Update</a>
			</td> 
		</tr>
	</table>
</div>
<footer class="footer">
  <div class="container">
      <p><a href="http://innobyt.com">Innobyt Hellenic Web Application</a></p>
  </div>
</footer>